certifi==2019.11.28
chardet==3.0.4
decorator==4.4.1
Django==2.2.7
django-csvimport==2.13
html5lib==1.0.1
idna==2.8
json-table-schema==0.2.1
lxml==4.4.2
mercurial==5.2
messytables==0.15.2
networkx==2.4
python-dateutil==2.8.1
python-magic-bin==0.4.14
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
webencodings==0.5.1
xlrd==1.2.0
