/*general */
body {
	margin: 0;
}

text {
    font: 10px sans-serif;
}

path {
  fill: transparent;
}

path.link {
  stroke: #aaa;
}

.nodes circle {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}

circle.halo {
	stroke-width: 2;
	fill: none;
	stroke: black;
	pointer-events: none;
	opacity: 0;
}


circle.year {
  fill: transparent;
  stroke: #eee;
}

text.year {
	stroke: #ccc;
	text-anchor: middle;
}