{% load static %}
<!DOCTYPE html>
<head>

</head>
<html>
<link rel="stylesheet" type="text/css" href="{% static "arbre/css/basem.css" %}"/>
<script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
  <head>
    <meta charset="utf-8">
    <title>Simpsons Family Tree</title>

  </head>

  <body>
    <div id='forces'></div>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
  <script src="http://d3js.org/d3.v4.js"></script>
  <!-- <script src="{% static "arbre/js/node_modules/requirejs/require.js" %}"></script> -->
  <script type="module" src="{% static "arbre/js/simpsons.js" %}"></script>


  </body>
</html>
